
var formatTime=function(time_str,str,type=1){
    var time = getDate(time_str);
    var y = time.getFullYear();
    var m = time.getMonth()+1;
    var d = time.getDate();
    var h = time.getHours();
    var mm = time.getMinutes();
    var s = time.getSeconds();

    var result = ""
    switch (type) {
        case 2:
            result = y+str+add0(m)+str+add0(d);
            break;
        case 3:
            result = y+str+add0(m)+str+add0(d) +" "+add0(h)+":"+add0(mm);
        default:
            result = y+str+add0(m)+str+add0(d) +" "+add0(h)+":"+add0(mm)+":"+add0(s);
            break;
    }
    return result;

}
var add0=function(m){
    return m<10?'0'+m:m 
}

var formatOver = function(start,end){
    var t1 = getDate(start)
    var t2 = getDate(end)
    var time_num = t2.getTime()-t1.getTime()
    var year =Math.floor(time_num/(24*3600*1000*365))
    var days = Math.floor(time_num/(24*3600*1000))
    var str;
    if(year>0){
        str= year+"年零"+days+"天"
    }else{
        str= days+"天"
    }
    return str
}



module.exports={
    formatTime:formatTime,
    formatOver:formatOver
}